


/* ===== RESET GLOBAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  padding-top: 70px; /* espaço para a navbar fixa */
}

/* ===== footer ===== */
.footer-content {
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

/* ===== BOTÃO WHATSAPP FIXO ===== */
.whatsapp-btn {
    position: fixed;
    bottom: 22px;
    right: 22px;
    z-index: 9999;

    width: 65px;
    height: 65px;

    background: #25d366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-btn img {
    width: 35px;
    height: 35px;
}

.whatsapp-btn:hover {
    transform: scale(1.08);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.32);
}
